<!DOCTYPE html>
<html>
  <head>
    <title>Mani Personal Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Mani", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "ContactUS", new_contact_path %>
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer id="main_footer">
      <p class="copyright">&copy; 2016 Manivannan </p>
      <nav>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-github"></a>
      </nav>
    </footer>
  </body>
</html>
